/*
@import url("http://fast.fonts.com/t/1.css?apiType=css&projectid=4de1c971-9f17-45d9-b2de-3d696c81c666");
@font-face{
font-family:"TradeGothicW01-BoldCn20 675334";
src:url("http://heilbrice.com/clients/clippers/2013/clippers-playoffs-2013/fonts/257c802f-349c-4b4d-aefa-546d5de15ec6.eot?#iefix");
src:url("http://heilbrice.com/clients/clippers/2013/clippers-playoffs-2013/fonts/257c802f-349c-4b4d-aefa-546d5de15ec6.eot?#iefix") format("eot"),url("http://heilbrice.com/clients/clippers/2013/clippers-playoffs-2013/fonts/5fdc935e-9e30-442a-bbe9-8d887b858471.woff") format("woff"),url("http://heilbrice.com/clients/clippers/2013/clippers-playoffs-2013/fonts/616c4c87-a077-43f4-a9f4-f01267c13818.ttf") format("truetype"),url("http://heilbrice.com/clients/clippers/2013/clippers-playoffs-2013/fonts/c901ad5f-a842-4549-a1f4-583a97f7e169.svg#c901ad5f-a842-4549-a1f4-583a97f7e169") format("svg");
}
*/
//Selector Variables
$sequenceContainer: "#sequence";
$sequenceCanvas: ".sequence-canvas";
$animateIn: ".animate-in";
$animateOut: ".animate-out";
$nextButton: ".sequence-next";
$prevButton: ".sequence-prev";
$pauseButton: ".sequence-pause";
$pagination: ".sequence-pagination";
$whenPaused: ".sequence-paused";
$sequencePreloader: ".sequence-preloader";

$red : #d71d24;

@import "bourbon";
@import "partials/reset"; //import Eric Meyer's CSS Reset. Remove this if you have a reset in your main stylesheet
@import "partials/mixins"; //vendor prefixing mixins
@import "partials/theme"; //vendor prefixing mixins



* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html {
	font-family:'TradeGothicW01-BoldCn20 675334';
	background: #d71d24 url(images/bg.jpg) top center no-repeat;
	text-transform: uppercase;
}

a {
	text-decoration: none;
}

.wrapper {
	max-width: 780px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
	padding: 60px 15px 0 15px;
}

#divider {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 380px;
	background: #fff url(images/divider-border.png) repeat-x;
	z-index: 0;
}

#score {
	height: 100px;
	width: 100%;
	max-width: 300px;
	float: left;

	> div {
		width: 50%;
		height: 100%;
		border: 3px solid #fff;
		border-width: 3px 0 0 3px;
		float: left;
		line-height: 100px;
		text-align: right;

		&.opponent {
			border-width: 3px 3px 0 3px;
		}
	}

	@media screen and (max-width: 569px) {
		float: none;
		margin: 0 auto;
	}

}

.tally {
	color: #fff;
	font-size: 76px;
	padding: 0 10px;
}

#title-container {
	height: 100%;
	text-align: center;
	font-size: 50px;
	padding-top: 10px;

	@include font-smoothing;


	h1 {
		color: #fff;
		font-size: 1em;

		.vs {
			color: #a7a9ac;
			font-size: .75em;
		}
	}

	h2 {
		color: #a7a9ac;
		font-size: .50em;
	}

	@media screen and (max-width: 779px) {
		font-size: 40px;
		padding-top: 20px;
	}
	@media screen and (max-width: 659px) {
		font-size: 30px;
		padding-top: 30px;
	}

	@media screen and (max-width: 569px) {
		padding: 10px;
		border: 3px solid #fff;
		border-width: 3px 3px 0 3px;
	}
}

#sequence {
	width: 100%;
	max-height: 466px;
	height: 466px;
	border: 3px solid #fff;
	overflow: hidden;
}

.button {
	display: block;
	margin: 0 auto;
	background: url(images/button.png) no-repeat;
	width: 191px;
	height: 42px;
	line-height: 42px;
	font-size: 25px;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	@include font-smoothing;
}

#footer {
	padding: 20px 0 0 0;
	background: #fff;
}

.playoff-links {	
	@include clearfix;

	li {
		width: 33%;
		float: left;

		@media screen and (max-width: 609px) {
			width: auto;
			float: none;
			margin: 0 auto;
		}
	}
}

#continue {
	text-align: center;

	.text {
		padding: 20px;
		display: block;
		margin: 0 auto;
		color: #d71d24;
		font-size: 22px;
	}

	img {
		width: 100%;
		max-width: 390px;
		height: auto;
	}
}

#audioSwitch {
	display: none;
}

.audio #audioSwitch {
	@include font-smoothing;
	display: block;
	position: absolute;
	color: #fff;
	top: 20px;
	left: 20px;
	cursor: pointer;
	
	span.off {
		opacity: 0.5;
	}

	&.off {
		span.off {
			opacity: 1;
		}

		span.on {
			opacity: 0.5;
		}
	}

}

#skipSplash {
	@include font-smoothing;
	position: absolute;
	color: #fff;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

#header {
	@include animation(fadeIn 1.0s ease-in 3s backwards);
}

#sequence {
	@include animation(fadeIn 1.0s ease-in 4s backwards);
}

#footer {
	@include animation(fadeIn 1.0s ease-in 5s backwards);
}

@include keyframes(fadeIn) {
	0% {
		opacity: 0;
	}
    100%{
        opacity: 1;
    }
}

#divider {
	@include animation(slideUpDivider 1.0s ease-in 2s backwards);
}

@include keyframes(slideUpDivider) {
	0% {
		@include transform(translateY(100%));
	}
    100%{
		@include transform(translateY(0));
    }
}

#splash-logo {
	position: absolute;
	top: 380px;
	text-align: center;
	width: 100%;
	z-index: -1;
	padding: 0 15px;

	@include transform-origin(center center);
	@include animation(zoomIn 1.0s ease-in 0s backwards);

	img {
		max-width: 849px;
		width: 100%;
		height: auto;
	}
}

@include keyframes(zoomIn) {
	0% {
		@include transform(scale(0));
	}
    100%{
		@include transform(scale(1));
    }
}
