/*
@import url("http://fast.fonts.com/t/1.css?apiType=css&projectid=4de1c971-9f17-45d9-b2de-3d696c81c666");
@font-face{
font-family:"TradeGothicW01-BoldCn20 675334";
src:url("http://heilbrice.com/clients/clippers/2013/clippers-playoffs-2013/fonts/257c802f-349c-4b4d-aefa-546d5de15ec6.eot?#iefix");
src:url("http://heilbrice.com/clients/clippers/2013/clippers-playoffs-2013/fonts/257c802f-349c-4b4d-aefa-546d5de15ec6.eot?#iefix") format("eot"),url("http://heilbrice.com/clients/clippers/2013/clippers-playoffs-2013/fonts/5fdc935e-9e30-442a-bbe9-8d887b858471.woff") format("woff"),url("http://heilbrice.com/clients/clippers/2013/clippers-playoffs-2013/fonts/616c4c87-a077-43f4-a9f4-f01267c13818.ttf") format("truetype"),url("http://heilbrice.com/clients/clippers/2013/clippers-playoffs-2013/fonts/c901ad5f-a842-4549-a1f4-583a97f7e169.svg#c901ad5f-a842-4549-a1f4-583a97f7e169") format("svg");
}
*/
/* CSS RESET - http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* !CSS RESET */
/* prefix declarations */
/* THEME STYLES */
.sequence-theme {
  /* this container is just to ensure the background color stretches all the way across on bigger screens */
  background: #D9D9D9; }

#sequence {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1280px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  margin: 0 auto;
  position: relative;
  height: 600px; }
  #sequence > .sequence-canvas {
    height: 100%;
    width: 100%; }
    #sequence > .sequence-canvas > li {
      width: 100%;
      height: 100%;
      z-index: 1; }
    #sequence > .sequence-canvas li > * {
      position: absolute;
      /* only cause the left and opacity properties to transition */
      -webkit-transition-property: all, opacity;
      -moz-transition-property: all, opacity;
      -ms-transition-property: all, opacity;
      -o-transition-property: all, opacity;
      transition-property: all, opacity; }

.sequence-next,
.sequence-prev {
  color: white;
  cursor: pointer;
  display: none;
  font-weight: bold;
  padding: 10px 15px;
  position: absolute;
  top: 50%;
  z-index: 1000;
  height: 75px;
  margin-top: -47.5px; }

.sequence-pause {
  bottom: 0;
  cursor: pointer;
  position: absolute;
  z-index: 1000; }

.sequence-paused {
  opacity: 0.3; }

.sequence-prev {
  left: 3%; }

.sequence-next {
  right: 3%; }

.sequence-prev img,
.sequence-next img {
  height: 100%;
  width: auto; }

#sequence-preloader {
  background: #d9d9d9; }

.sequence-pagination {
  bottom: 1%;
  display: none;
  right: 6%;
  position: absolute;
  z-index: 10;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s; }
  .sequence-pagination li {
    display: inline-block;
    *display: inline;
    /* Hack for IE7 and below as they don't support inline-block */
    height: 140px; }
    .sequence-pagination li img {
      cursor: pointer;
      opacity: 0.5;
      -webkit-transition-duration: 1s;
      -moz-transition-duration: 1s;
      -ms-transition-duration: 1s;
      -o-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-property: margin-bottom, opacity;
      -moz-transition-property: margin-bottom, opacity;
      -ms-transition-property: margin-bottom, opacity;
      -o-transition-property: margin-bottom, opacity;
      transition-property: margin-bottom, opacity; }
    .sequence-pagination li img:hover {
      margin-bottom: 4px;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -ms-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s; }
  .sequence-pagination li.current img {
    opacity: 1; }

.sequence-next,
.sequence-prev {
  position: absolute;
  opacity: 0.6;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s; }

.sequence-next:hover,
.sequence-prev:hover {
  opacity: 1;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s; }

.model {
  -webkit-transform: translate(-10%, -10%);
  -moz-transform: translate(-10%, -10%);
  -ms-transform: translate(-10%, -10%);
  -o-transform: translate(-10%, -10%);
  transform: translate(-10%, -10%);
  opacity: 0;
  position: relative;
  height: 110%;
  width: auto;
  top: 0;
  left: 0; }

.animate-in .model {
  -webkit-transform: translate(-5%, -5%);
  -moz-transform: translate(-5%, -5%);
  -ms-transform: translate(-5%, -5%);
  -o-transform: translate(-5%, -5%);
  transform: translate(-5%, -5%);
  opacity: 1;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s; }

.animate-out .model {
  -webkit-transform: translate(10%, 10%);
  -moz-transform: translate(10%, 10%);
  -ms-transform: translate(10%, 10%);
  -o-transform: translate(10%, 10%);
  transform: translate(10%, 10%);
  opacity: 0;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

html {
  font-family: 'TradeGothicW01-BoldCn20 675334';
  background: #d71d24 url(images/bg.jpg) top center no-repeat;
  text-transform: uppercase; }

a {
  text-decoration: none; }

.wrapper {
  max-width: 780px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  padding: 60px 15px 0 15px; }

#divider {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 380px;
  background: white url(images/divider-border.png) repeat-x;
  z-index: 0; }

#score {
  height: 100px;
  width: 100%;
  max-width: 300px;
  float: left; }
  #score > div {
    width: 50%;
    height: 100%;
    border: 3px solid #fff;
    border-width: 3px 0 0 3px;
    float: left;
    line-height: 100px;
    text-align: right; }
    #score > div.opponent {
      border-width: 3px 3px 0 3px; }
  @media screen and (max-width: 569px) {
    #score {
      float: none;
      margin: 0 auto; } }

.tally {
  color: #fff;
  font-size: 76px;
  padding: 0 10px; }

#title-container {
  height: 100%;
  text-align: center;
  font-size: 50px;
  padding-top: 10px;
  -webkit-font-smoothing: antialiased; }
  #title-container h1 {
    color: #fff;
    font-size: 1em; }
    #title-container h1 .vs {
      color: #a7a9ac;
      font-size: .75em; }
  #title-container h2 {
    color: #a7a9ac;
    font-size: .50em; }
  @media screen and (max-width: 779px) {
    #title-container {
      font-size: 40px;
      padding-top: 20px; } }
  @media screen and (max-width: 659px) {
    #title-container {
      font-size: 30px;
      padding-top: 30px; } }
  @media screen and (max-width: 569px) {
    #title-container {
      padding: 10px;
      border: 3px solid #fff;
      border-width: 3px 3px 0 3px; } }

#sequence {
  width: 100%;
  max-height: 466px;
  height: 466px;
  border: 3px solid #fff;
  overflow: hidden; }

.button {
  display: block;
  margin: 0 auto;
  background: url(images/button.png) no-repeat;
  width: 191px;
  height: 42px;
  line-height: 42px;
  font-size: 25px;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-font-smoothing: antialiased; }

#footer {
  padding: 20px 0 0 0;
  background: #fff; }

.playoff-links {
  *zoom: 1; }
  .playoff-links:before, .playoff-links:after {
    content: " ";
    display: table; }
  .playoff-links:after {
    clear: both; }
  .playoff-links li {
    width: 33%;
    float: left; }
    @media screen and (max-width: 609px) {
      .playoff-links li {
        width: auto;
        float: none;
        margin: 0 auto; } }

#continue {
  text-align: center; }
  #continue .text {
    padding: 20px;
    display: block;
    margin: 0 auto;
    color: #d71d24;
    font-size: 22px; }
  #continue img {
    width: 100%;
    max-width: 390px;
    height: auto; }

#audioSwitch {
  display: none; }

.audio #audioSwitch {
  -webkit-font-smoothing: antialiased;
  display: block;
  position: absolute;
  color: #fff;
  top: 20px;
  left: 20px;
  cursor: pointer; }
  .audio #audioSwitch span.off {
    opacity: 0.5; }
  .audio #audioSwitch.off span.off {
    opacity: 1; }
  .audio #audioSwitch.off span.on {
    opacity: 0.5; }

#skipSplash {
  -webkit-font-smoothing: antialiased;
  position: absolute;
  color: #fff;
  top: 20px;
  right: 20px;
  cursor: pointer; }

#header {
  -webkit-animation: fadeIn 1s ease-in 3s backwards;
  -moz-animation: fadeIn 1s ease-in 3s backwards;
  animation: fadeIn 1s ease-in 3s backwards; }

#sequence {
  -webkit-animation: fadeIn 1s ease-in 4s backwards;
  -moz-animation: fadeIn 1s ease-in 4s backwards;
  animation: fadeIn 1s ease-in 4s backwards; }

#footer {
  -webkit-animation: fadeIn 1s ease-in 5s backwards;
  -moz-animation: fadeIn 1s ease-in 5s backwards;
  animation: fadeIn 1s ease-in 5s backwards; }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-khtml-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

#divider {
  -webkit-animation: slideUpDivider 1s ease-in 2s backwards;
  -moz-animation: slideUpDivider 1s ease-in 2s backwards;
  animation: slideUpDivider 1s ease-in 2s backwards; }

@-moz-keyframes slideUpDivider {
  0% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%); }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes slideUpDivider {
  0% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%); }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@-o-keyframes slideUpDivider {
  0% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%); }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@-ms-keyframes slideUpDivider {
  0% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%); }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@-khtml-keyframes slideUpDivider {
  0% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%); }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@keyframes slideUpDivider {
  0% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%); }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

#splash-logo {
  position: absolute;
  top: 380px;
  text-align: center;
  width: 100%;
  z-index: -1;
  padding: 0 15px;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
  -webkit-animation: zoomIn 1s ease-in 0s backwards;
  -moz-animation: zoomIn 1s ease-in 0s backwards;
  animation: zoomIn 1s ease-in 0s backwards; }
  #splash-logo img {
    max-width: 849px;
    width: 100%;
    height: auto; }

@-moz-keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

@-o-keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

@-ms-keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

@-khtml-keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

@keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
