
/* THEME STYLES */

.sequence-theme { /* this container is just to ensure the background color stretches all the way across on bigger screens */
	background: #D9D9D9; 
}

#{$sequenceContainer} {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	width: 100%;
	max-width: 1280px;

	background-color: #fff;
	//background-image: url("../images/bg-sequence.jpg");
	background-repeat: no-repeat;
	background-position: 50% 100%;

	margin: 0 auto;
	position: relative;
	height: 600px;

	> #{$sequenceCanvas} {
		height: 100%;
		width: 100%;

		 > li {
			//position: absolute;
			width: 100%;
			height: 100%;
			z-index: 1;
		}

		li > * {
			position: absolute;
			$transitionProperties: all, opacity; /* only cause the left and opacity properties to transition */
			@include prefixed(transition-property, #{$transitionProperties});
		}
	}
}

#{$nextButton},
#{$prevButton} {
	color: white;
	cursor: pointer;
	display: none;
	font-weight: bold;
	padding: 10px 15px;
	position: absolute;
	top: 50%;
	z-index: 1000;
	height: 75px;
	margin-top: -47.5px;
}

#{$pauseButton} {
	bottom: 0;
	cursor: pointer;
	position: absolute;
	z-index: 1000;
}

#{$whenPaused} {
	opacity: 0.3;
}

#{$prevButton} {
	left: 3%;
}

#{$nextButton} {
	right: 3%;
}

#{$prevButton} img, 
#{$nextButton} img {
	height: 100%;
	width: auto;
}

#sequence-preloader {
	background: #d9d9d9;
}

#{$pagination} {
	bottom: 1%;
	display: none;
	right: 6%;
	position: absolute;
	z-index: 10;
	@include prefixed(transition-duration, .5s);

	li {
		display: inline-block;
		*display: inline; /* Hack for IE7 and below as they don't support inline-block */ 
		height: 140px;

		img {
			cursor: pointer;
			opacity: 0.5;
			@include prefixed(transition-duration, 1s);
			$transitionProperties: margin-bottom, opacity;
			@include prefixed(transition-property, #{$transitionProperties});
		}
		
		img:hover {
			margin-bottom: 4px;
			@include prefixed(transition-duration, .3s);
		}
	}

	li.current img {
		opacity: 1;
	}
}

#{$nextButton},
#{$prevButton} {
	position: absolute;
	opacity: 0.6;
	@include prefixed(transition-duration, 1s);
}

#{$nextButton}:hover,
#{$prevButton}:hover {
	opacity: 1;
	@include prefixed(transition-duration, 1s);
}


.model {
//	@include transform(translate(-40px, -40px));
//	left: -40px;
//	top: -40px;
	@include transform(translate(-10%, -10%));
	opacity: 0;
	position: relative;
	height: 110%;
	width: auto;
	top: 0;
	left: 0;
}

#{$animateIn} .model {
	@include transform(translate(-5%, -5%));
//	@include transform(translate(-20px, -20px));
//	left: -20px;
//	top: -20px;
	opacity: 1;
	@include prefixed(transition-duration, 1s);
}

#{$animateOut} .model {
	@include transform(translate(10%, 10%));
//	@include transform(translate(20px, 20px));
//	left: 20px;
//	top: 20px;
	opacity: 0;
	@include prefixed(transition-duration, 1s);
}
